<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="wiewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読込 -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/user/signup.css}">
<!-- JS読込 -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap,min.js}" defer></script>
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<title>チャットルーム画面</title>
</head>
<body class="bg-light bg-gradient">
	<form id="signup-form" method="post" th:action="@{/signUp}" class=form-signup>
		<h1 class="text-center">チャットルーム</h1>
		<a th:href="@{/chatListDisp}">チャット一覧へ</a>
	</form>
</body>
</html>