<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.dao.UserInfoMapper">
	<!-- 新規登録 -->
	<insert id="save">
		INSERT
		INTO gw_chat.tb_chatusers(
		  nicname
		, password
		, repassword
		, createdate
		, updatedate
		)
		VALUES (
		  #{nicname}
		, #{password}
		, #{repassword}
		, CURRENT_TIMESTAMP
		, CURRENT_TIMESTAMP
		)

	</insert>
	<!-- 新規登録 -->
	<select id="login"  resultType="com.gw.entity.UserInfo">
		select * from tb_chatusers 
		where 
		nicname = #{nicname} AND password = #{password}
		
	</select>
</mapper>